* {
    box-sizing: border-box;
}
h1,h2,h3,ul,ol,p,img {
    margin-bottom: 1.5rem;
}
body {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #444349;
}